@font-face {
  font-family: 'Heebo';
  src: url('../assets/fonts/Heebo-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'BlackHanSans';
  src: url('../assets/fonts/BlackHanSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('../assets/fonts/NanumSquareRoundR.woff') format('woff');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../assets/fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'MontserratSemibold';
  src: url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'MontserratThin';
  src: url('../assets/fonts/Montserrat-Thin.woff') format('woff');
}
