html,
body,
#root,
#root > div {
  height: 100%;
}

#Main {
  display: block;
  position: relative;
  overflow-x: hidden;
}

.moveTopBtn {
  position: fixed;
  z-index: 3;
  bottom: 50px;
  right: 50px;
  width: 4rem;
  height: 4rem;
}
