html,
body,
#root,
#root > div {
  height: 100%;
}

#Main {
  overflow-x: hidden;
}

.moveTopBtn {
  position: fixed;
  z-index: 3;
  bottom: 50px;
  right: 50px;
  width: 4rem;
  height: 4rem;

  @media (max-width: 720px) {
    display: none;
  }
}
